<% @title = "Projects" %>
<h1>Projects</h1>
<h2 class='subtitle'>Some of the projects from my past</h2>
<hr/>
<article>
  <div class="row">
    <div class="thumbnail col-lg-4 col-md-4 col-sm-4">
      <img src="http://www.jitsejan.nl/uploads/images/project-hongerdoeken.png" class="img-responsive" alt="" >
    </div>
    <div class="col-md-8 col-lg-8 col-sm-8">
      <h3 class="entry-title">Hongerdoeken</h3>
      <p>This is a project where I made a Flash application with information about hongerdoeken. In October 2010 this application was distributed together with the corresponding book through the Netherlands. The online version doesn’t contain the correct contents, but the functionality is up-to-date.</p>
    </div>
  </div>
</article>
<article>
<div class="row">
<div class="col-md-8 col-lg-8 col-sm-8">
<h3 class="entry-title">Monitoring eating behavior</h3>
<p>My graduation project focused on an automatic way of recognising intake moments of a person based on data from different sensors. I used two accelerometers to monitor the arm movements and an in-ear microphone to monitor the sounds of the jaw bone. Based on the recorded data of different persons during the day, I made a classifier in Matlab to automatically find intake moments in the data. For the recognition algorithm I used different feature selectors and classifiers to compare the performance of the classification. It turned out that the intake of drinks is the easiest movement to recognise, while intake using cutlery, especially forks, is difficult to be found in the data. Apart from the cutlery used, it turned out that taller people had better classification results because their long arms make the intake movement more clear.</p>
</div>
<div class="thumbnail col-lg-4 col-md-4 col-sm-4">
<img src="http://www.jitsejan.nl/uploads/images/ADM_James_sensors.png" class="img-responsive" alt="" >
</div>
</div>
</article>
<article>
<div class="row">
<div class="thumbnail col-lg-4 col-md-4 col-sm-4">
<img src="http://www.jitsejan.nl/uploads/images/07032012407_thumb.jpg" class="img-responsive" alt="" >
</div>
<div class="col-md-8 col-lg-8 col-sm-8">
<h3 class="entry-title">Aho-Corasick on the FPGA</h3>
<p>My internship research in Stellenbosch, SA aimed at the recognition of patterns of strings in data. Dedicated hardware in combination with the Aho-Corasick algorithm was used to find occurrences of words in network data. This way unwanted network traffic, e.g. mail, could be detected before it reached the personal computer of the end user. The research focused on a speed comparison between a normal desktop computer and a field-programmable gate array (FPGA). It turned out that for sufficiently large strings, the FPGA outperformed the desktop computer.</p>
</div>
</div>
</article>
<article>
<div class="row">
<div class="col-md-8 col-lg-8 col-sm-8">
<h3 class="entry-title">Phone project</h3>
<p>My bachelor thesis was a research on how to use a mobile phone to control a computer by moving the phone. For this I needed to make a connection between the phone and the computer and send the data about the movement of the phone over link to the computer. The computer can apply the intended action by processing the received data. Communication was done over a Bluetooth link. I developed the software for both the client and the server and tested it on several platforms (Windows, Linux).</p>
</div>
<div class="thumbnail col-lg-4 col-md-4 col-sm-4">
<img src="http://www.jitsejan.nl/uploads/images/phone_hand.jpg" class="img-responsive" alt="" >
</div>
</div>
</article>
<article>
<div class="row">
<div class="thumbnail col-lg-4 col-md-4 col-sm-4">
<img src="http://www.jitsejan.nl/uploads/images/Remote_5903_sim.png" class="img-responsive" alt="" >
</div>
<div class="col-md-8 col-lg-8 col-sm-8">
<h3 class="entry-title">Remote control</h3>
<p>In 2007 I started using a remote control to control the media player on my computer. In November 2009 the use extended to controlling the music, video, sound and different lights on my room. I created a simulation of the remote control, so when I click the buttons in the simulation on my computer, it will start and stop the music mimicking the behavior of the remote control.</p>
</div>
</div>
</article>
<article>
<div class="row">
<div class="col-md-8 col-lg-8 col-sm-8">
<h3 class="entry-title">3D Mario</h3>
<p>In this project I turned a 2 dimensional Mario into a 3 dimensional Mario. I started with an image of 17×17 pixels and used Blender® to create the 3D Mario. (Summer 2009)</p>
</div>
<div class="thumbnail col-lg-4 col-md-4 col-sm-4">
<img src="http://www.jitsejan.nl/uploads/images/3DMario1.png" class="img-responsive" alt="" >
</div>
</div>
</article>
</div><!-- /projects !-->
