<% @title="Websites" %>
<h1>Websites</h1>
        <h2 class="subtitle">A history of the websites I have created</h2>
        <hr/>
                                <div class="row row-eq-height webrow">
	                <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Ben Cuypers</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/B.-Cuypers-Glas-en-Schildersbedrijf-935x1024.png" width="200">
		            <p>Ben Cuypers is a painting and maintenance company in Valkenswaard. Because they want to be independent of the web admin (and pay less) they asked me to create a simple webpage which they could easily maintain. I have created this website in WordPress with the Vantage theme and the Page Builder plugin because I believe that is the easiest way to put together an appealing website which is not complicated to maintain. Instead of writing a manual, I”ve created a number of screencasts for the company to explain how to use the website. They can now watch the instructions on YouTube and reproduce the steps I show in the video to edit the content and add new media to their webpage. Delivered in October 2014.</p>
    				<p><a target="new" href="http://www.b-cuypers.nl/">http://www.b-cuypers.nl/</a></p>            	</div>
    	    </article>
    	                            <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Fresh of the Press</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/Fresh-of-The-Press-Home-534x1024.png" width="200">
		            <p>Another website for South-Africa. This one is a blog by two girls about wine. Shingi Nhari did the design and I am the one that implemented it. The website is not online officially, but can be viewed on my local copy in my own domain. It should still be finished up by the owners, but my work is done.
<br/><br/>
[Nov 2013]</p>
    				            	</div>
    	    </article>
    	        </div><!-- /row !-->
	                            <div class="row row-eq-height webrow">
	                <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Sweet Surprise Nuenen</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/Home-Sweet-Surprise-Nuenen.png" width="200">
		            <p>Sweet Surprise is a candy shop in Nuenen. The owners asked me to redo their website with some big changes. The frontpage should show what Sweet Surprise is all about, people should be able to book a kids party and there should be a webshop with all the candy and presents. The frontpage has been upgraded, the booking system and the contact form work and the webshop contains all the products. Apart from that, they also wanted to control the content and add images without needing external help. Therefore, to create the website I have used WordPress combined with the Mantra theme and several plugins, namely
<ul>
<li>Booking Calendar</li>
<li>FancyBox for WordPress</li>
<li>Fast Secure Contact Form</li>
<li>ICEPAY Plugin for Woocommerce</li>
<li>MapPress Easy Google Maps</li>
<li>Widget Logic</li>
<li>WooCommerce</li>
<li>WooCommerce (nl)</li>
</ul>
<p>I have delivered the website in 2013. Since then the owners are maintaining the website themselves.</p></p>
    				<p><a target="new" href="http://sweetsurprisenuenen.nl">http://sweetsurprisenuenen.nl</a></p>            	</div>
    	    </article>
    	                            <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Econex</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/Home-Econex.png" width="200">
		            <p>After returning from my stay in South-Africa I was asked to work on the company website of my former flatmate. The old website, which is still online, looks old fashioned and publications and other research work should be found easier. The whole website was restructured to find the practise areas, sectors, publications and people who work there faster.<br/>
<br/>
For me the big challenge lays in the fact I had to make a whole new database structure to link the publications to its corresponding areas, sectors and people and make the whole publication database searchable. Design was done by Shingi Nhari, but implementation was done by me. The front-end was finished in a few weeks, but the back-end took a while to finish. Luckily I finished before the deadline, but, as always in Africa, things move a little bit slow. The website is not officially online yet (Dec, 2013), but in the background the new website can be visited. Update Oct, 2015: The website has been updated. My code was used and the design has been updated.</p>
    				<p><a target="new" href="http://econex.co.za">http://econex.co.za</a></p>            	</div>
    	    </article>
    	        </div><!-- /row !-->
	                            <div class="row row-eq-height webrow">
	                <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Borgo Son Giovanni</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/Home-Borgo-San-Giovanni.png" width="200">
		            <p>This is the second website I made for/with a client, building it from the ground up. It is meant to replace the old website, since it was cluttered and not appealing. I tried to make it a clean and clear website, while keeping it visually appealing for visitors. The website is available in 3 different languages, English, Dutch and Italian. The owners of the website can access the language files themselves and add translations as they wish.

Update Spring 2013: The website that I created has been replaced by a new website to work with the agency they are currently working with. The images and text that I selected and changed have been transferred to the new website luckily. On the link the ‘naked’ version can still be viewed.</p>
    				            	</div>
    	    </article>
    	                            <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Café Eigenwijs</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/site-cafe-eigenwijs.png" width="200">
		            <p>Café Eigenwijs, a cafe in it’s own way, in the centre of Haaren.

Update: Since March 2011 the cafe is closed and the website is offline.

This website was build in March 2010. It is the first webpage I’ve created for a company. I made my own content management system to make it easier for the owner of the cafe to add new activities and news, to upload pictures and to adjust the opening hours.</p>
    				            	</div>
    	    </article>
    	        </div><!-- /row !-->
	                            <div class="row row-eq-height webrow">
	                <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">Lichtkoepeldump</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/site-lichtkoepeldump.png" width="200">
		            <p>Lichtkoepeldump.nl is another website I took over from another administrator. I didn’t create the design, but I rewrote the whole underlying code for the website. Apart from this code I changed the price lists for the different products on the Lichtkoepel Dump. The website was full of errors, which was ideal for me since I could get familiar with HTML and CSS standards.</p>
    				<p><a target="new" href="http://lichtkoepeldump.nl">http://lichtkoepeldump.nl</a></p>            	</div>
    	    </article>
    	                            <article>
            	<div class="col-sm-6 col-xs-12 col-md-6">
            		<h4 class="entry-title">MultyEPDM</h4>
		            <img class="web-img" src="http://www.jitsejan.nl/uploads/images/site-multy-epdm.png" width="200">
		            <p>The website from Multy EPDM is a website a took over from another administrator. The layout was designed by the previous administrator. I ‘only’ changed the page structure, rewrote the whole menu and corrected the content of all the pages. Besides that I made the page easier to work with, so the prices can be easily adjusted by the owner of the company. Finally I created a new form which automatically calculated the materials needed for the roof based on the dimensions. Unfortunately somebody else took over the website and made it less appealing again.</p>
    				<p><a target="new" href="http://multyepdm.nl">http://multyepdm.nl</a></p>            	</div>
    	    </article>
    	        </div><!-- /row !-->
	                    </div><!-- /row !-->
            </div><!-- /websites !-->
